{% include 'tickets/design/header.html' %}


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head> 

<div class="container">
    {% if ticket_list %} 
        <ul class="list-group">
            {% for ticket in ticket_list %}
            <li class="list-group-item">
                <a href="{%url 'tickets:assign' ticket.id %}">
                    <i style="padding-right: 10px;" class="fas fa-user-check"></i>
                </a>
                <a href="{%url 'tickets:delete' ticket.id %}">
                     <i style="padding-right: 10px;" class="fas fa-trash"></i>
                </a>


                <a href="{% url 'tickets:edit' ticket.id %}">{{ ticket }} : {{ticket.subject}}</a>
                <p>Created by {{ ticket.creator }} 
    
                    {% if ticket.how_many_days_old > 0 %}
                        {{ticket.how_many_days_old }}
                        {% if ticket.how_many_days_old > 1 %}
                            days ago.
                        {% else %}
                            day ago.
                        {% endif %}
                    {% else %}
                        today.
                    {% endif %}
                Assigned to {{ticket.owner}}</p>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No tickets are available</p>
    {% endif %}

    <!-- <div class = "d-flex justify-content-end"> -->
    <div class="container">
        <a href="{% url 'tickets:create' %}"><i class="fas fa-plus-square fa-2x"></i></a>
    </div>
</div>

