{% extends "header.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <br>
    <div class="list-group">
        <li class="list-group-item rectangle-link">
            <a href="{% url 'tickets:ticket_unassigned_queue' %}"><button type="button" class="btn btn-primary">Unassigned
                    Queue</button></a>
        </li>
        <li class="list-group-item rectangle-link">
            <a href="{% url 'tickets:ticket_owner_queue' %}"><button type="button" class="btn btn-primary">My
                    Queue</button></a>
        </li>
        <li class="list-group-item rectangle-link">
            <a href="{% url 'tickets:ticket_created_queue' %}"><button type="button" class="btn btn-primary">Created By
                    Me Queue</button></a>
        </li>
        <li class="list-group-item rectangle-link">
            <a href="{% url 'tickets:ticket_recent_queue' %}"><button type="button" class="btn btn-primary">Recently
                    Created Queue</button></a>
        </li>
        <li class="list-group-item rectangle-link">
            <a href="{% url 'tickets:ticket_all_queue' %}"><button type="button" class="btn btn-primary">All Tickets
                    Queue</button></a>
        </li>
    </div>
    <br>
</div>
{% endblock %}