{% extends "header.html" %}
{% load static %}
{% block page_content %}

<div class="container">
    <br>

    <br>

    {% if ticket_list %}
    <ul class="list-group">
        {% for ticket in ticket_list %}
        <li class="list-group-item">


            <a href="{% url 'tickets:ticket_edit' ticket.id %}">
                {{ ticket }} : {{ticket.shortened_subject_str}}
            </a>
            <a href="{%url 'tickets:ticket_delete' ticket.id %}">
                <i style="padding-right: 10px;" class="fas fa-trash"></i>
            </a>
            <p>Created by {{ ticket.creator }}

                {% if ticket.how_many_days_old > 0 %}
                {{ticket.how_many_days_old }}
                {% if ticket.how_many_days_old > 1 %}
                days ago.
                {% else %}
                day ago.
                {% endif %}
                {% else %}
                today.
                {% endif %}
                Assigned to {{ticket.owner}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tickets are available</p>
    {% endif %}


    <div class="text-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">⏮</a>
            <a href="?page={{ page_obj.previous_page_number }}">⏪</a>
            {% endif %}

            {% if page_obj.has_next %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% endif %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">⏩</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">⏭</a>
            {% endif %}
        </span>
    </div>

{% endblock %}