{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{% include 'tickets/header.html' %}

{% load widget_tweaks %}

<div class="container">
    {% if ticket.priority.priority == 'medium' %}
        <div class="text-left text-warning">
    {% elif ticket.priority.priority == 'critical' or ticket.priority.priority == 'high' %}
        <div class="text-left text-danger">
    {% else %}
        <div class="text-left text-primary">
    {% endif %}
    <h1>{{ticket}}</h1>
    <p>Created by {{ ticket.creator.first_name }} {{ ticket.creator.last_name }} 
    
    {% if ticket.how_many_days_old > 0 %}
        {{ticket.how_many_days_old }} days ago.</p>
    {% else %}
        today.</p>
    {% endif %}
    </div>

    <form>
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Subject</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.subject }}"> {% endcomment %}
            {% render_field form.subject class="form-control-plaintext bg-light" %}
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Project</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.project }}"> {% endcomment %}
            {% render_field form.project class="form-control-dropdown bg-light" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.description }}"> {% endcomment %}
            {% render_field form.description class="form-control-textarea bg-light" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Priority</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.priority }}"> {% endcomment %}
            {% render_field form.priority class="form-control-dropdown bg-light" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.status }}"> {% endcomment %}
            {% render_field form.status class="form-control-dropdown bg-light" %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Creator</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.creator }}">
            {% comment %} {{form.creator}} {% endcomment %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Owner</label>
        <div class="col-sm-10">
            {% comment %} <input type="text" readonly class="form-control-plaintext bg-light" value="{{ ticket.owner }}"> {% endcomment %}
            {% render_field form.owner class="form-control-dropdown bg-light" %}
        </div>
    </div>

    </form>
</div>