{% include 'tickets/header.html' %}

<div class="container">
    {% if latest_ticket_list %} 
        <ul class="list-group">
            {% for ticket in latest_ticket_list %}
            <li class="list-group-item"><a href="{% url 'tickets:edit' ticket.id %}">{{ ticket }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No tickets are available</p>
    {% endif %}

    <div class = "d-flex justify-content-end">
        <a href="{% url 'tickets:create' %}" <i class="fas fa-plus-square fa-2x"></i></a>
    </div>
</div>