<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="jumbotron text-center">
    <h1>Ticket Tracking System</h1>
</div>

 {% include 'tickets/navbar.html' %}

<div class="container">
    {% if latest_ticket_list %}
        <ul class="list-group">
            {% for ticket in latest_ticket_list %}
            <li class="list-group-item"><a href="{% url 'tickets:detail' ticket.id %}">{{ ticket }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No tickets are available</p>
    {% endif %}

<a href="{% url 'tickets:create' %}" <i class="fas fa-plus-square"></i></a>
</div>