 {% load widget_tweaks %}


<div class="row">
	<!-- Blog Entries Column -->
	<div class="col-md-8">

		<h3 class="my-4">Create Ticket
          <small>{% render_field form.ticketType class="form-control-dropdown" %}</small>
        </h3>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Subject</label>
			<div class="col-sm-10"> {% render_field form.subject class="form-control-text" %} </div>
		</div>
		<div class="form-group row">
			<label for="" class="col-sm-2 col-form-label">Project</label>
			<div class="col-sm-10"> {% render_field form.project class="form-control-dropdown" %} </div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Description</label>
			<div class="col-sm-10"> {% render_field form.description class="form-control-textarea" %} </div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Priority</label>
			<div class="col-sm-10"> {% render_field form.priority class="form-control-dropdown" %} </div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Status</label>
			<div class="col-sm-10"> {% render_field form.status class="form-control-dropdown" %} </div>
		</div> {% render_field form.creator value=user.id %}

		<input type='submit' value='Save' />
  </div>

	<!-- Sidebar Widgets Column -->
	<div class="col-md-4">

		<div class="card my-4">
			<div class="card-body">
				<div class="form-group row">
					<label class="col col-form-label">Assignee</label>
					<div class="col"> {% render_field form.owner class="form-control-dropdown bg-light" %} </div>
				</div>
			</div>
		</div>
		
		<div class="card my-4">
			<h5 class="card-header">Side Widget</h5>
			<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</div>
		</div>

	</div>
</div>